Repository open-nudge/pynudger: changes, and which pre-commit hooks are due for each by the changed paths.
All: dco, pdm-lock, fix-legal, renovate, github, github-actions, github-workflows, pyproject, pre-commit-config, pre-commit-hooks, citation, pytest, toml, json, markdown, yaml, docs, python, typing, tests-all

Path conditions:
  dco: any of: ^DCO.md$
  pdm-lock: any of: ^pyproject.toml$
  fix-legal: any file but: ^(pdm.lock.*|DCO.md|.gitignore|LICENSE.md|LICENSES/.*)$
  renovate: any of: ^.github/renovate.json$
  github: any of: ^(.github/actions/.*/action.yml|.github/workflows/.*.yml)$
  github-actions: any of: ^.github/actions/.*/action.yml$
  github-workflows: any of: ^.github/workflows/.*.yml$
  pyproject: any of: ^pyproject.toml$
  pre-commit-config: any of: ^.pre-commit-config.yaml$
  pre-commit-hooks: any of: ^.pre-commit-hooks.yaml$
  citation: any of: ^CITATION.cff$
  pytest: any of: (^|/)tests/.+\.py$
  toml: any of: \.toml$
  json: any of: \.json$
  markdown: any of: \.(md|markdown|mdown)$, but not: ^(DCO.md|template-setup/.*|LICENSE.md|LICENSES/.*)$
  yaml: any of: \.(yaml|yml)$
  docs: any of: ^(docs/.*|pyproject.toml|mkdocs.yml|src/.*.py|.*.md)$
  python: any of: \.py$
  typing: any of: \.py$
  tests-all: any of: \.py$

feat: make initial release
  .pre-commit-config.yaml
  .vale.ini
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/__main__.py
  src/pynudger/_check.py
  src/pynudger/_cli.py
  src/pynudger/_loader.py
  src/pynudger/_rule.py
  tests/test_cases/common.py
  tests/test_cases/getters.py
  tests/test_cases/helper.py
  tests/test_cases/mixed.py
  tests/test_cases/setters.py
  tests/test_cases/util.py
  tests/test_cases/very_long_filename_definitely_too_long.py
  tests/test_cli.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pytest, toml, yaml, docs, python, typing, tests-all

feat: create initial release (#3)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .vale.ini
  CODEOWNERS
  README.md
  ROADMAP.md
  SECURITY-SELF-ASSESSMENT.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/__main__.py
  src/pynudger/_check.py
  src/pynudger/_cli.py
  src/pynudger/_loader.py
  src/pynudger/_rule.py
  tests/test_cases/common.py
  tests/test_cases/getters.py
  tests/test_cases/helper.py
  tests/test_cases/mixed.py
  tests/test_cases/setters.py
  tests/test_cases/util.py
  tests/test_cases/very_long_filename_definitely_too_long.py
  tests/test_cli.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pre-commit-hooks, pytest, toml, markdown, yaml, docs, python, typing, tests-all

feat: add tool description and pre-commit usage
  .pre-commit-hooks.yaml
  CODEOWNERS
  README.md
  ROADMAP.md
  SECURITY-SELF-ASSESSMENT.md
Due: fix-legal, pre-commit-hooks, markdown, yaml, docs

feat: add entrypoint (#5)
  pyproject.toml
Due: pdm-lock, fix-legal, pyproject, toml, docs

feat: add entrypoint
  pyproject.toml
Due: pdm-lock, fix-legal, pyproject, toml, docs

fix: do not iterate over __pypackages__ etc. (#7)
  .pre-commit-config.yaml
  src/pynudger/_cli.py
  tests/test_cli.py
Due: fix-legal, pre-commit-config, pytest, yaml, docs, python, typing, tests-all

fix: do not iterate over __pypackages__ etc.
  .pre-commit-config.yaml
  src/pynudger/_cli.py
  tests/test_cli.py
Due: fix-legal, pre-commit-config, pytest, yaml, docs, python, typing, tests-all

fix: bump lintkit dependency (#9)
  .pre-commit-config.yaml
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, toml, yaml, docs, python, typing, tests-all

fix: bump lintkit dependency
  .pre-commit-config.yaml
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, toml, yaml, docs, python, typing, tests-all

fix: add check argument
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: fix-legal, pre-commit-config, pre-commit-hooks, yaml

fix: add check argument (#12)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: fix-legal, pre-commit-config, pre-commit-hooks, yaml

fix: mention possibility to extend ignores
  README.md
Due: fix-legal, markdown, docs

feat: add an option to ignore directories when no files passed
  .github/workflows/cache-item-reusable.yml
  .github/workflows/cache-reusable.yml
  .github/workflows/release-sbom-run-reusable.yml
  .github/workflows/release-sboms-reusable.yml
  .github/workflows/run-reusable.yml
  .github/workflows/tests-reusable.yml
  .pre-commit-config.yaml
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, github, github-workflows, pyproject, pre-commit-config, toml, markdown, yaml, docs, python, typing, tests-all

feat: add an option to ignore directories when no files passed (#14)
  .github/workflows/cache-item-reusable.yml
  .github/workflows/cache-reusable.yml
  .github/workflows/release-sbom-run-reusable.yml
  .github/workflows/release-sboms-reusable.yml
  .github/workflows/run-reusable.yml
  .github/workflows/tests-reusable.yml
  .pre-commit-config.yaml
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, github, github-workflows, pyproject, pre-commit-config, toml, markdown, yaml, docs, python, typing, tests-all

feat: add restrictive rules
  README.md
  osv-scanner.toml
  pdm.lock
  src/README.md
  src/pynudger/__init__.py
  src/pynudger/__main__.py
  src/pynudger/_check.py
  src/pynudger/_cli.py
  src/pynudger/_loader.py
  src/pynudger/_restricted/__init__.py
  src/pynudger/_restricted/mixin.py
  src/pynudger/_restricted/naming.py
  src/pynudger/_restricted/rule.py
  src/pynudger/_rule.py
  src/pynudger/py.typed.license
  tests/README.md
  tests/test_cases/allowed_runtime.py
  tests/test_cases/getters.py
  tests/test_cases/helper.py
  tests/test_cases/mixed.py
  tests/test_cases/restricted.py
  tests/test_cases/setters.py
  tests/test_cases/util.py
  tests/test_cases/very_long_filename_definitely_too_long.py
  tests/test_cli.py
  tests/test_restricted.py
  tests/test_smoke.py
Due: fix-legal, pytest, toml, markdown, docs, python, typing, tests-all

feat: make release compatible with opentemplate
  .github/workflows/release.yml
Due: fix-legal, github, github-workflows, yaml

fix: localize tests due to version mismatch with opentemplate
  .github/workflows/run-reusable.yml
  .github/workflows/tests-renovate.yml
  .github/workflows/tests-reusable.yml
  .github/workflows/tests.yml
Due: fix-legal, github, github-workflows, yaml

feat: add restrictions on methods (#18)
  .github/workflows/release.yml
  .github/workflows/run-reusable.yml
  .github/workflows/tests-renovate.yml
  .github/workflows/tests-reusable.yml
  .github/workflows/tests.yml
  README.md
  osv-scanner.toml
  pdm.lock
  src/README.md
  src/pynudger/__init__.py
  src/pynudger/__main__.py
  src/pynudger/_check.py
  src/pynudger/_cli.py
  src/pynudger/_loader.py
  src/pynudger/_restricted/__init__.py
  src/pynudger/_restricted/mixin.py
  src/pynudger/_restricted/naming.py
  src/pynudger/_restricted/rule.py
  src/pynudger/_rule.py
  src/pynudger/py.typed.license
  tests/README.md
  tests/test_cases/allowed_runtime.py
  tests/test_cases/getters.py
  tests/test_cases/helper.py
  tests/test_cases/mixed.py
  tests/test_cases/restricted.py
  tests/test_cases/setters.py
  tests/test_cases/util.py
  tests/test_cases/very_long_filename_definitely_too_long.py
  tests/test_cli.py
  tests/test_restricted.py
  tests/test_smoke.py
Due: fix-legal, github, github-workflows, pytest, toml, markdown, yaml, docs, python, typing, tests-all

fix: harden cross-OS running
  .github/workflows/run-reusable.yml
Due: fix-legal, github, github-workflows, yaml

fix: use proper semgrep settings (#22)
  pyproject.toml
Due: pdm-lock, fix-legal, pyproject, toml, docs

fix: use proper semgrep settings
  pyproject.toml
Due: pdm-lock, fix-legal, pyproject, toml, docs

feat: add only one assert rule (#26)
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/length.py
  src/pynudger/rule/testing.py
  tests/cases/clean/not_testing.py
  tests/cases/violations/testing.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add only one assert rule
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/length.py
  src/pynudger/rule/testing.py
  tests/cases/clean/not_testing.py
  tests/cases/violations/testing.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add module max lines rules (#28)
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/module.py
  tests/cases/clean/not_module.py
  tests/cases/violations/module.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add module max lines rules
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/module.py
  tests/cases/clean/not_module.py
  tests/cases/violations/module.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add docstring rules (#31)
  README.md
  src/pynudger/_loader.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/docstring.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_string.py
  tests/cases/violations/call.py
  tests/cases/violations/docstring.py
  tests/cases/violations/string.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add docstring rules
  README.md
  src/pynudger/_loader.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/docstring.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_string.py
  tests/cases/violations/call.py
  tests/cases/violations/docstring.py
  tests/cases/violations/string.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add internal usage rule
  .pre-commit-config.yaml
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_code.py
  src/pynudger/rule/_internal.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/module.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_internal.py
  tests/cases/violations/internal.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pytest, toml, markdown, yaml, docs, python, typing, tests-all

feat: add internal usage rule (#35)
  .pre-commit-config.yaml
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_code.py
  src/pynudger/rule/_internal.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/module.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_internal.py
  tests/cases/violations/internal.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pytest, toml, markdown, yaml, docs, python, typing, tests-all

fix: adjust README
  README.md
Due: fix-legal, markdown, docs

fix: reformat README
  README.md
Due: fix-legal, markdown, docs

feat: add 'shared' rule (#36)
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_shared.py
  src/pynudger/rule/attribute.py
  src/pynudger/rule/call.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/length.py
  src/pynudger/rule/module.py
  src/pynudger/rule/shared.py
  src/pynudger/rule/string.py
  src/pynudger/rule/testing.py
  tests/cases/clean/not_share.py
  tests/cases/violations/shared.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add 'shared' rule
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_shared.py
  src/pynudger/rule/attribute.py
  src/pynudger/rule/call.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/length.py
  src/pynudger/rule/module.py
  src/pynudger/rule/shared.py
  src/pynudger/rule/string.py
  src/pynudger/rule/testing.py
  tests/cases/clean/not_share.py
  tests/cases/violations/shared.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add anti-repetition rules (#37)
  .pre-commit-config.yaml
  README.md
  src/pynudger/_loader.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_repetition.py
  tests/cases/violations/common.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/repetition.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/util.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

feat: add anti-repetition rules
  .pre-commit-config.yaml
  README.md
  src/pynudger/_loader.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_repetition.py
  tests/cases/violations/common.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/repetition.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/util.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

feat: add same name refactoring rule
  README.md
  pdm.lock
  pyproject.toml
  src/pynudger/_loader.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_call.py
  tests/cases/clean/not_comon.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_geer.py
  tests/cases/clean/not_heler.py
  tests/cases/clean/not_internal.py
  tests/cases/clean/not_length.py
  tests/cases/clean/not_repetition.py
  tests/cases/clean/not_same_name.py
  tests/cases/clean/not_seer.py
  tests/cases/clean/not_share.py
  tests/cases/clean/not_uti.py
  tests/cases/violations/common.py
  tests/cases/violations/docstring.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/length_violation_path_name_too_long.py
  tests/cases/violations/repetition.py
  tests/cases/violations/same_name.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/util.py
Due: pdm-lock, fix-legal, pyproject, pytest, toml, markdown, docs, python, typing, tests-all

feat: add same name refactoring rule (#41)
  README.md
  pdm.lock
  pyproject.toml
  src/pynudger/_loader.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_call.py
  tests/cases/clean/not_comon.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_geer.py
  tests/cases/clean/not_heler.py
  tests/cases/clean/not_internal.py
  tests/cases/clean/not_length.py
  tests/cases/clean/not_repetition.py
  tests/cases/clean/not_same_name.py
  tests/cases/clean/not_seer.py
  tests/cases/clean/not_share.py
  tests/cases/clean/not_uti.py
  tests/cases/violations/common.py
  tests/cases/violations/docstring.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/length_violation_path_name_too_long.py
  tests/cases/violations/repetition.py
  tests/cases/violations/same_name.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/util.py
Due: pdm-lock, fix-legal, pyproject, pytest, toml, markdown, docs, python, typing, tests-all

fix: ignore naming function
  src/pynudger/rule/repetition.py
Due: fix-legal, docs, python, typing, tests-all
