Repository open-nudge/pynudger: changes, and which pre-commit hooks are due for each by the changed paths.
All: dco, pdm-lock, fix-legal, renovate, github, github-actions, github-workflows, pyproject, pre-commit-config, pre-commit-hooks, citation, pytest, toml, json, markdown, yaml, docs, python, typing, tests-all

dco:
  verbose: true
  name: <<<CHECK>>> DCO
  language: fail
  entry: 'Changing DCO is prohibited according to the DCO itself. If you wish to change/remove it, please do so in a separate commit and disable this check.
  
    '

pdm-lock:
  verbose: true
  name: <<<CHECK>>> PDM lock (use `pdm run lock` to fix)
  entry: pdm lock -v --check
  pass_filenames: false
  language: system

fix-legal:
  name: <<<FIX>>> Legal
  entry: pdm run -v fix-legal
  language: system
  require_serial: true

renovate:
  verbose: true
  name: <<<CHECK>>> Renovate
  entry: pdm run -v check-renovate
  language: system
  require_serial: true

github:
  verbose: true
  name: <<<CHECK>>> GitHub
  entry: pdm run -v check-github
  language: system
  require_serial: true

github-actions:
  verbose: true
  name: <<<CHECK>>> GitHub Actions
  entry: pdm run -v check-github-actions
  language: system
  require_serial: true

github-workflows:
  verbose: true
  name: <<<CHECK>>> GitHub Workflows
  entry: pdm run -v check-github-workflows
  language: system
  require_serial: true

pyproject:
  verbose: true
  name: <<<CHECK>>> pyproject
  entry: pdm run -v check-pyproject
  language: system

pre-commit-config:
  verbose: true
  name: <<<CHECK>>> pre-commit config
  entry: pdm run -v check-pre-commit-config
  language: system

pre-commit-hooks:
  verbose: true
  name: <<<CHECK>>> pre-commit hooks
  entry: pdm run -v check-pre-commit-hooks
  language: system

citation:
  verbose: true
  name: <<<CHECK>>> Citation
  entry: pdm run -v check-citation
  language: system

pytest:
  verbose: true
  name: <<<CHECK>>> Pytest
  entry: pdm run -v check-pytest
  language: system

toml:
  verbose: true
  name: <<<CHECK>>> TOML
  entry: pdm run -v check-toml
  language: system
  require_serial: true

json:
  verbose: true
  name: <<<CHECK>>> JSON
  entry: pdm run -v check-json
  language: system
  require_serial: true

markdown:
  verbose: true
  name: <<<FIX>>> Markdown
  entry: pdm run -v fix-markdown
  language: system
  require_serial: true

yaml:
  verbose: true
  name: <<<CHECK>>> YAML
  entry: pdm run -v check-yaml
  language: system
  require_serial: true

docs:
  verbose: true
  name: <<<CHECK>>> Docs
  entry: pdm run -v check-docs
  pass_filenames: false
  language: system
  require_serial: true

python:
  verbose: true
  name: <<<FIX>>> Python
  entry: pdm run -v fix-python
  language: system
  require_serial: true

typing:
  verbose: true
  name: <<<CHECK>>> Typing
  entry: pdm run -v check-typing
  language: system
  require_serial: true

tests-all:
  verbose: true
  name: <<<CHECK>>> Tests all
  entry: pdm run -v tests-all
  pass_filenames: false
  language: system
  require_serial: true

feat: add at most N union types rule (#43)
  README.md
  src/pynudger/_loader.py
  src/pynudger/_node.py
  src/pynudger/_types.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_code.py
  src/pynudger/rule/_internal.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/module.py
  src/pynudger/rule/repetition.py
  src/pynudger/rule/union.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_union.py
  tests/cases/violations/union.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add at most N union types rule
  README.md
  src/pynudger/_loader.py
  src/pynudger/_node.py
  src/pynudger/_types.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_code.py
  src/pynudger/rule/_internal.py
  src/pynudger/rule/docstring.py
  src/pynudger/rule/keyword.py
  src/pynudger/rule/module.py
  src/pynudger/rule/repetition.py
  src/pynudger/rule/union.py
  tests/cases/clean/not_docstring.py
  tests/cases/clean/not_union.py
  tests/cases/violations/union.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add type depth check (#45)
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/depth.py
  tests/cases/clean/not_depth.py
  tests/cases/violations/depth.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add type depth check
  README.md
  src/pynudger/rule/__init__.py
  src/pynudger/rule/depth.py
  tests/cases/clean/not_depth.py
  tests/cases/violations/depth.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add at minimum N objects in a module (#46)
  README.md
  src/pynudger/rule/module.py
  tests/cases/clean/__init__.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_comon.py
  tests/cases/clean/not_geer.py
  tests/cases/clean/not_heler.py
  tests/cases/clean/not_keyword.py
  tests/cases/clean/not_length.py
  tests/cases/clean/not_module.py
  tests/cases/clean/not_seer.py
  tests/cases/clean/not_share.py
  tests/cases/clean/not_string.py
  tests/cases/clean/not_testing.py
  tests/cases/clean/not_uti.py
  tests/cases/violations/attribute.py
  tests/cases/violations/common.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/keyword.py
  tests/cases/violations/length_violation_path_name_too_long.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/string.py
  tests/cases/violations/testing.py
  tests/cases/violations/union.py
  tests/cases/violations/util.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: add at minimum N objects in a module
  README.md
  src/pynudger/rule/module.py
  tests/cases/clean/__init__.py
  tests/cases/clean/not_attribute.py
  tests/cases/clean/not_comon.py
  tests/cases/clean/not_geer.py
  tests/cases/clean/not_heler.py
  tests/cases/clean/not_keyword.py
  tests/cases/clean/not_length.py
  tests/cases/clean/not_module.py
  tests/cases/clean/not_seer.py
  tests/cases/clean/not_share.py
  tests/cases/clean/not_string.py
  tests/cases/clean/not_testing.py
  tests/cases/clean/not_uti.py
  tests/cases/violations/attribute.py
  tests/cases/violations/common.py
  tests/cases/violations/getter.py
  tests/cases/violations/helper.py
  tests/cases/violations/keyword.py
  tests/cases/violations/length_violation_path_name_too_long.py
  tests/cases/violations/setter.py
  tests/cases/violations/shared.py
  tests/cases/violations/string.py
  tests/cases/violations/testing.py
  tests/cases/violations/union.py
  tests/cases/violations/util.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat!: break compatibility with lintkit<3.0.0 (#48)
  .github/renovate.json
  .github/renovate.json.license
  .github/workflows/release-sarifs-reusable.yml
  .github/workflows/security-semgrep-renovate.yml
  .github/workflows/security-semgrep-reusable.yml
  .pre-commit-config.yaml
  README.md
  docs/template/details/security.md
  docs/template/release-your-project/process.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  tests/test_description.py
Due: pdm-lock, fix-legal, renovate, github, github-workflows, pyproject, pre-commit-config, pytest, toml, json, markdown, yaml, docs, python, typing, tests-all

feat!: break compatibility with lintkit<3.0.0
  .github/renovate.json
  .github/renovate.json.license
  .github/workflows/release-sarifs-reusable.yml
  .github/workflows/security-semgrep-renovate.yml
  .github/workflows/security-semgrep-reusable.yml
  .pre-commit-config.yaml
  README.md
  docs/template/details/security.md
  docs/template/release-your-project/process.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  tests/test_description.py
Due: pdm-lock, fix-legal, renovate, github, github-workflows, pyproject, pre-commit-config, pytest, toml, json, markdown, yaml, docs, python, typing, tests-all

fix!: adjust default behavior of PYNUDGER46 (#50)
  README.md
  src/pynudger/rule/module.py
  tests/cases/violations/internal.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

fix!: adjust default behavior of PYNUDGER46
  README.md
  src/pynudger/rule/module.py
  tests/cases/violations/internal.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: process directories in check cmd
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, pyproject, toml, markdown, docs, python, typing, tests-all

feat: process directories in check cmd (#52)
  README.md
  osv-scanner.toml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
Due: pdm-lock, fix-legal, pyproject, toml, markdown, docs, python, typing, tests-all

feat: ignore files named the same PYNUDGER46 (#56)
  README.md
  src/pynudger/rule/module.py
  tests/cases/clean/_files.py
  tests/cases/violations/_somename.py
  tests/cases/violations/module.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: ignore files named the same PYNUDGER46
  README.md
  src/pynudger/rule/module.py
  tests/cases/clean/_files.py
  tests/cases/violations/_somename.py
  tests/cases/violations/module.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

fix: only cover global modules for PYNUDGER40
  src/pynudger/_loader.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_repetition.py
Due: fix-legal, pytest, docs, python, typing, tests-all

fix: only cover global modules for PYNUDGER40 (#57)
  src/pynudger/_loader.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/not_repetition.py
Due: fix-legal, pytest, docs, python, typing, tests-all

feat: make pynudger compatible with lintkit configs (#59)
  README.md
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  src/pynudger/rule/depth.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/length.py
  src/pynudger/rule/module.py
  src/pynudger/rule/repetition.py
  src/pynudger/rule/testing.py
  src/pynudger/rule/union.py
Due: pdm-lock, fix-legal, pyproject, toml, markdown, docs, python, typing, tests-all

feat: make pynudger compatible with lintkit configs
  README.md
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  src/pynudger/rule/depth.py
  src/pynudger/rule/internal.py
  src/pynudger/rule/length.py
  src/pynudger/rule/module.py
  src/pynudger/rule/repetition.py
  src/pynudger/rule/testing.py
  src/pynudger/rule/union.py
Due: pdm-lock, fix-legal, pyproject, toml, markdown, docs, python, typing, tests-all

feat!: split rule prefix and tool name (#61)
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  tests/test_description.py
  tests/test_rule.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pytest, toml, yaml, docs, python, typing, tests-all

feat!: split rule prefix and tool name
  .pre-commit-config.yaml
  pdm.lock
  pyproject.toml
  src/pynudger/_cli.py
  tests/test_description.py
  tests/test_rule.py
Due: pdm-lock, fix-legal, pyproject, pre-commit-config, pytest, toml, yaml, docs, python, typing, tests-all

fix: count private in PYNUDGER46 (#65)
  .pre-commit-config.yaml
  README.md
  src/pynudger/rule/module.py
  tests/cases/violations/_somename.py
  tests/cases/violations/module.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

fix: count private in PYNUDGER46
  .pre-commit-config.yaml
  README.md
  src/pynudger/rule/module.py
  tests/cases/violations/_somename.py
  tests/cases/violations/module.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

feat: ignore Error when counting words
  README.md
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/error.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: ignore Error when counting words (#66)
  README.md
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/error.py
Due: fix-legal, pytest, markdown, docs, python, typing, tests-all

feat: ignore dunder methods when used with super
  .pre-commit-config.yaml
  README.md
  src/pynudger/rule/attribute.py
  tests/cases/clean/not_attribute.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

feat!: vastly expand PYNUDGER43 refactoring algorithm
  .pre-commit-config.yaml
  README.md
  src/pynudger/error.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_constant.py
  src/pynudger/rule/_optimizer/__init__.py
  src/pynudger/rule/_optimizer/_optimizer.py
  src/pynudger/rule/_optimizer/_rank.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/assignment.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/error.py
  tests/cases/clean/not_same_name.py
  tests/cases/violations/same_name.py
  tests/test_optimizer.py
  tests/test_rule.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

feat!: vastly expand PYNUDGER43 refactoring algorithm (#68)
  .pre-commit-config.yaml
  README.md
  src/pynudger/error.py
  src/pynudger/rule/__init__.py
  src/pynudger/rule/_constant.py
  src/pynudger/rule/_optimizer/__init__.py
  src/pynudger/rule/_optimizer/_optimizer.py
  src/pynudger/rule/_optimizer/_rank.py
  src/pynudger/rule/_words.py
  src/pynudger/rule/assignment.py
  src/pynudger/rule/length.py
  src/pynudger/rule/repetition.py
  tests/cases/clean/error.py
  tests/cases/clean/not_same_name.py
  tests/cases/violations/same_name.py
  tests/test_optimizer.py
  tests/test_rule.py
Due: fix-legal, pre-commit-config, pytest, markdown, yaml, docs, python, typing, tests-all

Path conditions:
  dco: any of: ^DCO.md$
  pdm-lock: any of: ^pyproject.toml$
  fix-legal: any file but: ^(pdm.lock.*|DCO.md|.gitignore|LICENSE.md|LICENSES/.*)$
  renovate: any of: ^.github/renovate.json$
  github: any of: ^(.github/actions/.*/action.yml|.github/workflows/.*.yml)$
  github-actions: any of: ^.github/actions/.*/action.yml$
  github-workflows: any of: ^.github/workflows/.*.yml$
  pyproject: any of: ^pyproject.toml$
  pre-commit-config: any of: ^.pre-commit-config.yaml$
  pre-commit-hooks: any of: ^.pre-commit-hooks.yaml$
  citation: any of: ^CITATION.cff$
  pytest: any of: (^|/)tests/(?!test_cases/).+\.py$
  toml: any of: \.toml$
  json: any of: \.json$
  markdown: any of: \.(md|markdown|mdown)$, but not: ^(DCO.md|template-setup/.*|LICENSE.md|LICENSES/.*)$
  yaml: any of: \.(yaml|yml)$
  docs: any of: ^(docs/.*|pyproject.toml|mkdocs.yml|src/.*.py|.*.md)$
  python: any of: \.py$
  typing: any of: \.py$
  tests-all: any of: \.py$
